.linksnaranjilla:hover{
   color: #FF5B0F;
}

.colorblancotexto{
   color: white;
   text-decoration: none;
}

.linksnaranja:hover{
  background-color: #FF5B0F;
}

.linksoscuros:hover{
   color: black;
}