/* Style */

/* ESPACIADORES */
.spacer2 {  margin-top: 100px; }
.megaspacer {  margin-top: 300px; }
.spacer {  margin-top: 100px; }
.minispacer {  margin-top: 20px; }
.minispacerhorizontal{margin-left: 5px;margin-right: 5px; }

/* Clase color naranja principal de la página*/
.naranja{
    background-color: #FF5B0F;
}

.naranjilla{
    color: #FF5B0F;
}

.verdecillo{
    color: #2bff0f;
}

.rojillo{
    color: rgb(255, 42, 0);
}

/* Tipo de letra titulo */
.titulomasvendidos{
  font-family:  sans-serif;
  font-weight: bold;
}

/* Iconos redes sociales */

.contenedor-icono svg{
width: 40px; ;
height: 40px; ;
}


/* Clase Hover LINKS */
.nav-link:hover {
    background-color: #FF5B0F;
    
  }
/* color texto */
.colorgristexto{
    color: #6c757d;
    text-decoration: none;
}
.colornaranjatexto{
color: rgb(94, 94, 93);
}

/* Scroll bar */

html,body{
    background-color: #383b3d;
    overflow-x: hidden;
    color:black;
    font-family:'Opens Sans',helvetica;  
    height:100%;
    width:101%;
    margin: 0px;
    padding: 0px;
  }

/* Carousel y pagina inicio */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }



  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    
  }

  /* Cookies */

  .fondocookies{
    background-color: #343a40c7;
  }

  .quitarbannercookies{
 display: none;
  }

  
/* Fondo imagen loginyregistro */

.fondo{
  background-image: url(../img/fondoiniciosesionyregistro.jpg);

}
  
/* Custom cards */

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Ayuda Styles */

.icon-list {
  padding-left: 0;
  list-style: none;
}
.icon-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: .25rem;
}
.icon-list li::before {
  display: block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5rem;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") no-repeat center center / 100% auto;
}
