/* ESPACIADORES */
.megaspacer {  margin-top: 300px; }
.spacer {  margin-top: 100px; }
.minispacer {  margin-top: 20px; }

/* Clase color naranja principal de la página*/
.naranja{
    background-color: #FF5B0F;
}

.naranjilla{
    color: #FF5B0F;
}

/* Clase Hover LINKS */
.nav-link:hover {
    background-color: #FF5B0F;
  }
/* color texto */
.colorgristexto{
    color: #6c757d;
    text-decoration: none;
}
.colornaranjatexto{
color: rgb(94, 94, 93);
}

/* Scroll bar */

html,body{
    background-color: #383b3d;
    overflow-x: hidden;
    color:black;
    font-family:'Opens Sans',helvetica;  
    height:100%;
    width:101%;
    margin: 0px;
    padding: 0px;
  }

/* Carousel y pagina inicio */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    
  }